<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
      <script src="~/js/main.js" defer></script>
</head>
<body>
    <header class="header">
      <h1 class="app-name">UPJ CHATBOT</h1>
      <nav class="nav">
        <ul>
          <li><a href="/Home/Index">HOME</a></li>
          <li><a href="/Home/Reports">REPORTS</a></li>
        </ul>
      </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

   <footer class="footer">
      <div>footer</div>
    </footer>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
