@{
    ViewData["Title"] = "UPJ ChatBot";
}

    <section class="body-section">
      <div class="chat-window">
        <ul class="chat-message-list">
          <li class="message bot-message">Hello! Ask me a question!</li>
        </ul>
        <input type="text" class="message-input" />
      </div>
      <section class="information-section">
        <h1>Information</h1>
        <p>
          Welcome to the UPJ chatbot! This bot in intended for current and future UPJ students to
          ask questions that they may have about the school. Just type a question and hit enter and
          the bot will answer it for you. Didn't get the answer you were looking for? Didn't get an 
          answer at all? Just press the thumbs up or down button to give us feedback as to whether your
          question was answered.
        </p>
      </section>
    </section>