@{
    ViewData["Title"] = "UPJ ChatBot";
}

    <section class="body-section">
      <div class="chat-window">
        <ul class="chat-message-list">
          <li class="message user-message">Hello -user</li>
          <li class="message bot-message">Hello -bot</li>
          <li class="message user-message">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam, nemo?
          </li>
          <li class="message bot-message">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio soluta magni vitae,
            voluptas voluptatem iure quia quae adipisci in blanditiis?
          </li>
        </ul>
        <input type="text" class="message-input" />
      </div>
      <section class="information-section">
        <h1>Information</h1>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet possimus doloribus
          repudiandae natus sunt accusantium debitis magnam ut impedit modi fugit sequi
          exercitationem, itaque ipsam voluptas quam quis dignissimos optio. Cupiditate illo fuga
          quasi sit aperiam ut maiores tenetur voluptas, harum quae sed quos ad dolorum quod,
          aliquam repellat voluptatibus?
        </p>
      </section>
    </section>