@{
    ViewData["Title"] = "UPJ ChatBot - Reports";
}
<script src ="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">

</script>



<canvas id = "YesorNo", style="width:75%;max-width:500px">
</canvas>



<script>

    let t = fetch("https://localhost:7115/api/QuestionModels")
        .then(response => response.json())
        .then(data => 
        {
         array = Object.entries(data);

    var YES = 0;
    var NO = 0;

    for (var x = 0; x < array.length;x++)
    {
        YES = YES + array[x][1].helpful;
        NO = NO + array[x][1].nonhelpful;
    }


var yorn = ["yes","no"];
var datatest = [YES,NO];
var colorpie =["blue","yellow"];

new Chart("YesorNo", {
type: "pie",
data: {
    labels: yorn,
    datasets: [{
        backgroundColor: colorpie,
        data: datatest
        }]
    },
    options: {
        title: {display: true, text: "Was Question Answered?"}
    }
});

});
</script>

<canvas id = "QuestionsAsked", style="width:75%;max-width:500px">
</canvas>


<script>



    let e = fetch("https://localhost:7115/api/QuestionModels")
        .then(response => response.json())
        .then(data => 
        {
         array = Object.entries(data);

    var TOTAL = 0;
    for (var x = 0; x < array.length;x++)
    {
      TOTAL = TOTAL+1;
    }


    
var weekdays = ["Total"];
var testquestionnums = [TOTAL,0];
var colorbar =["blue"];

new Chart("QuestionsAsked", {
type: "bar",
data: {
    labels: weekdays,
    datasets: [{
        backgroundColor: colorbar,
        data: testquestionnums
        }]
    },
    options: {
        legend: {display: false},
        title: {display: true, text: "Questions on this day"}
    }
});

});
</script>



<p id = qe1></p>
<p id = ans1></p>

<p id = qe2></p>
<p id = ans2></p>

<p id = qe3></p>
<p id = ans3></p>
<script>
    var q1 = "yes or no?";
    var q2 = "up or down?";
    var q3 = "Is Bilitski cool?";

    var a1 = "no";
    var a2 = "up";
    var a3 = "Cool :)";

    document.getElementById("qe1").innerHTML = q1;
    document.getElementById("ans1").innerHTML = a1;


    document.getElementById("qe2").innerHTML = q2;
    document.getElementById("ans2").innerHTML = a2;

    document.getElementById("qe3").innerHTML = q3;
    document.getElementById("ans3").innerHTML = a3;





</script>
