*, *::after, *::before {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    gap: 40px;
    align-items: center;
    margin: 0;
    padding-left: 2em;
    background-color: #666;
}

.app-name {
    color: #eee;
    cursor: default;
}

.nav ul {
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.nav li {
    display: inline-block;
}

.nav a {
    padding: 10px;
    color: #eee;
}

.nav a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.body-section {
    background-color: #AAA;
    display: flex;
    gap: 40px;
    padding: 50px;
    height: 87.4vh;
}

.chat-window {
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: #444;
    border-radius: 10px;
    border: 3px solid black;
    height: 100%;
    width: 70%;
    padding: 10px;
}

.message-input {
    background-color: #ccc;
    border: none;
    border-radius: 20px;
    width: 100%;
    height: 30px;
    padding: 0 10px;
}

.message-input:focus {
    outline: none;
    background-color: #eee;
}

.chat-message-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 90%;
    overflow: auto;
    margin: 0;
    padding: 0;
}

.chat-message-list::-webkit-scrollbar {
    display: none;
}

.message {
    list-style-type: none;
    word-break: break-word;
    border-radius: 20px;
    padding: 8px;
    width: fit-content;
    max-width: 60%;
    cursor: default;
}

.user-message {
    background-color: lightblue;
    align-self: end;
}

.bot-message {
    background-color: lightgreen;
    align-self: start;
    margin-right: 5px;
}

.message-container {
    display: flex;
    align-items: center;
    gap: 5px;
}


.feedback-given .feedback-button {
    pointer-events: none;
}


.feedback-button {
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.15);
    background-blend-mode: multiply;
    background-size: cover;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border-width: 0px;
    cursor: pointer;
}

.green {
    background-image: url("../images/green_button.png");
}

.red {
    background-image: url("../images/red_button.png");
}

.feedback-button:hover {
    background-color: rgba(0, 0, 0, 0);
}

.disabled-button {
    background-color: rgba(0, 0, 0, 0.8);
}

.disabled-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


.information-section {
    padding: 0;
    width: 30%;
}

.footer {
    background-color: #444;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ccc;
}
